:root {
    --black: #000000;
    --darkgrey: #2b2b2b;
    --white: #ffffff;
    --cream: #e6e6dd;
    --gold: #959350;
    --red: #760606;
    --darkBlue: #0a0524ec;
}





/* Main Pages: Dashboard */
.mainPageContainer {
    flex: 1 1 auto;
    width: 88%;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 250px);
}

.carouselSection {
    height: 40%;
    width: 100%;
    background-color: var(--cream);
    border-bottom: 2px solid black;
}

.taskSection {
    height: 60%;
    width: 100%;
    background-color: var(--cream);
    border-bottom: 2px solid black;
}

.carousel {
    height: 100%; 
    background-color: #dee2e6; 
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Main Pages: logOverview */

.logOverviewTableButtons {
    width: 16.666%;
    height: 50px;
}

.importExportButton {
    background-color: var(--red);
    color: var(--cream);
    width: 8.333%;
}

.filterDropdowns {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 10px;
}

.filterDropdowns select {
    height: 40px;
    font-size: 14px;
}  

.filterOptions {
    background-color: var(--darkBlue);
    width: 16.666%;
    height: 85px;
    border-radius: 8px;
    color: var(--cream);
    padding-left: 10px;
}

.filterOptionsSelect {
    background-color: var(--darkBlue);
    color: var(--cream);
    border: 1px solid var(--cream);
    width: 250px;
    margin-left: 4px;
    margin-top: 4px;
}





.logOverviewTable {
    width: 100%;
    table-layout: fixed;
    /* height: 500px !important; */
}



.tablePagination {
    height: 40px;
    width: 100%;
    background-color: var(--red);
}

.tablePagination{
    margin-top:1rem;
    display:flex;
    align-items:center;
    gap:1rem;
    flex-wrap:wrap;
  }
  .tablePagination .pager button{
    margin:0 2px;
    padding:4px 8px;
    border:1px solid var(--darkBlue);
    background:var(--cream);
    cursor:pointer;
  }
  .tablePagination .pager button.active{
    font-weight:700;
    background:var(--darkBlue);
    color:var(--cream);
  }
  .tablePagination .pager button:disabled{
    opacity:.4; cursor:default;
  }
  .tablePagination .totalCount{
    margin-left:auto;
    font-weight:600;
  }
  

.logOverviewTableWrapper {
    flex-grow: 1;
    overflow-y: auto;
    max-height: 699px;
}


/* BenutzerVerwaltung */
.userList, .createNewUser {
    color: var(--cream);
    padding: 10px;
    width: 50%;
    height: 600px;
    display: inline-block;
    border-bottom: 2px solid var(--cream);
  }

  .userList {
    float: left;
    border-right: 2px solid var(--cream);
  }