

.table th, .table td {
    text-align: center;
    padding: 12px;
    vertical-align: middle;
  }
  
  .table th {
    background-color: #2e2e2e;
    color: #fff;
  }
  
  .table {
    width: auto;
    table-layout: fixed;
    word-wrap: break-word;
  }
  
  .table td, .table th {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  
  .table td:nth-child(1), .table th:nth-child(1) {
    width: 5%;
  }
  
  .table td:nth-child(2), .table th:nth-child(2) {
    width: 25%;
  }
  
  .table td:nth-child(3), .table th:nth-child(3) {
    width: 25%;
  }
  
  .table td:nth-child(4), .table th:nth-child(4) {
    width: 20%;
  }
  
  .table td:nth-child(5), .table th:nth-child(5) {
    width: 15%;
  }
  
  
  @media (max-width: 768px) {
    .table th, .table td {
      padding: 8px; 
    }
  
    .table td, .table th {
      white-space: normal; 
    }
  }
  
  
  .table-responsive {
    overflow-x: auto;
  }
  