.alertIconContainer {
    position: relative;
  }
  
  .alertIconLink {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
  }
 
  .alertText {
    color: var(--warning);
    font-weight: bold;
    font-size: 0.85rem;
    line-height: 1.2;
  }
  

  .alertText.hidden {
    display: none;
  }
  