.navBar {
    height: 80px;
    width: 100%;
    background-color: var(--darkgrey);
    border-bottom: 2px solid var(--cream);
  }
  
  .logoLink {
    display: inline-block; 
  }
  
  .logoField {
    width: 330px;
    height: 80px;
    background-image: url('../img/Logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 40px;
  }
  